{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="description" content="教員向けのアプリを条件指定で検索するサイトです。科目や金額などを指定して、条件に合うアプリを表示します。学校教育のIT化が進み、授業にITを取り入れたいと考えている先生も多くいると思います。忙しい先生方のアプリ探しの手助けになれば幸いです。">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>先生のアプリー教員向けのアプリを条件指定で表示</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>
  <body>
      <a href="..">
      <header class="header">
        <img src="../../static/images/logo.png" class="logo">
        <h1 class="h1_header">先生のアプリ</h2>
      </header>
      </a>
      <h2 id="page_name">検索結果</h2>
      <div id="result_form">
        <table id="sort_table">
          <tr>
            <th class="sort_hidden">画像順</th>
            <th class="sort_hidden">名前順</th>
            <th class="sort_hidden">金額順</th>
            <th id="sort_button">評価順 ⇅</th>
            <th class="sort_hidden">詳細順</th>
            <th id="date">2023.7.5</th>
          </tr>
          {% for app in app %}  
            <tbody class="item">
              <tr>
                <td id="img_td">
                    <img id="img" src="{{app.images}}" alt=""/>
                </td>    
                <td id="app_name">
                  <a href="{{app.link}}" target="_blank" rel="noreferrer noopener">{{app.app_name}}</a>
                </td>
                <td id="app_money">
                  {{app.money}} 円 / 
                </td>
                <td id="app_value">
                  <span class="star-rating" data-rate="{{app.value}}"></span>({{app.value}})
                </td>
                <td id="detail">
                  {{app.detail}}
                </td>
              </tr>
            </tbody>
          {% endfor %}  
        </table>
        <div class="button"><a href="../" class="btn">検索画面へ</a></div>
      </div>
    <script src="../../static/js/w3.js"></script>  
  </body>
</html>